{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <title>Forgot Password</title>
</head>
<body class="d-flex justify-content-center align-items-center vh-100">
    <div class="card p-4"  style="width: 400px; border: none;">
        <img src="{%static 'img/logo.png' %}" alt="Logo" class="mb-3">
        <h3 class="text-center">Forgot Password?</h3>
        <div style="text-align: center;">
        <p>Enter your email address to get the <br> password reset link</p>
    </div>
        <form id="forgotPasswordForm">
            <div class="form-group">
                <label for="email">Email Address</label>
                <input type="email" class="form-control" id="email" required>
            </div>
            <button type="submit" class="btn btn-primary btn-block" style="background-color: #5d4bba; border: none;">Password Reset</button>
            <div class="text-center mt-3">
                <a href="{% url 'login' %}">Back to login</a>
            </div>
        </form>
    </div>
</body>
</html>
