{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
    <link rel="stylesheet" href="{% static 'styles.css' %}" />
    <link rel="stylesheet" href="{% static 'forms.css' %}">
    <title>Register IPO</title>
</head>

<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'dashboard' %}">
                <img src="{% static 'img/logo.png' %}" alt="Logo" width="210" height="50"
                    class="d-inline-block align-text-top">
            </a>
            <form class="form-inline my-2 my-lg-0" style="flex-grow: 1; text-align: center;">
                <input class="form-control mr-sm-2 w-50 bg-light" type="search" placeholder="Search" aria-label="Search"
                    style="border: none;">
            </form>
            <div class="d-flex align-items-center">
                <span class="me-3">Hi, {{ request.session.username }} </span>
                <img src="{% static 'img/profile.png' %}" alt="Profile" width="30" style="margin:0px 10px 0px 10px;">
                <a href="#" class="ms-3">
                    <i class="fas fa-bell"></i>
                </a>
            </div>
        </div>
    </nav>

    <!-- Main Container -->
    <div class="container-fluid">
        <div class="row">
            <!-- Sidebar -->
            <div class="col-md-2 sidebar bg-light p-4">
                <h5 class="menu-heading">MENU</h5>
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'dashboard' %}">
                            <i class="fas fa-chart-bar"></i> Dashboard
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="{% url 'manageipo' %}">
                            <i class="fas fa-shopping-cart"></i> Manage IPO
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <i class="fas fa-comment-alt"></i> IPO Subscription
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <i class="fas fa-file-alt"></i> IPO Allotment
                        </a>
                    </li>
                </ul>

                <h5 class="menu-heading">OTHERS</h5>
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <i class="fas fa-cog"></i> Settings
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <i class="fas fa-user-cog"></i> API Manager
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <i class="fas fa-user"></i> Accounts
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <i class="fas fa-question-circle"></i> Help
                        </a>
                    </li>
                </ul>
            </div>

            <!-- Main Content -->

            
            <!-- <div class="col-md-10 p-4">
                <div class="justify-content-between">
                    <h3>Upcomming IPO Information</h3>
                    <p>Manage your IPO Details</p>
                </div>
                <div class="d-flex">
                    <div>
                        <div class="d-flex align-items-center">
                            <i class="fas fa-info-circle me-2"></i>
                            <span>IPO Information</span>
                        </div>
                        <div class="d-flex align-items-center">
                            <i class="fas fa-file-alt me-2"></i>
                            <span>IPO Info</span>
                        </div>
                    </div>
                    {% if form.errors %}
                    <div class="alert alert-danger">
                        {{ form.errors }}
                    </div>
                    {% endif %}
                    <form method="POST" action="{% url 'register_ipo' %}" enctype="multipart/form-data"
                        class="form-layout">
                        {% csrf_token %}

                        <div>
                            <button type="submit" class="btn btn-primary">Register</button>
                            <a href="{% url 'manageipo' %}" class="btn btn-secondary">Cancel</a>
                        </div>

                        <div class="col-md-4 text-center">
                            <label for="company_logo_path">Company Logo</label> <br>
                            <input type="file" name="company_logo_path" id="company_logo_path" required>
                        </div>

                        <div class="form-row">
                            <div class="col-md-6">
                                <label for="company_name">Company Name</label>
                                <input type="text" name="company_name" id="company_name" required>
                            </div>

                            <div class="col-md-6">
                                <label for="price_band">Price Band</label>
                                <input type="text" name="price_band" id="price_band" required>
                            </div>

                            <div class="col-md-6">
                                <label for="open">Open</label>
                                <input type="text" name="open" id="open" required>
                            </div>

                            <div class="col-md-6">
                                <label for="close">Close</label>
                                <input type="text" name="close" id="close" required>
                            </div>

                            <div class="col-md-6">
                                <label for="issue_size">Issue Size</label>
                                <input type="text" name="issue_size" id="issue_size" required>
                            </div>

                            <div class="col-md-6">
                                <label for="issue_type">Issue Type</label>
                                <input type="text" name="issue_type" id="issue_type" required>
                            </div>

                            <div class="col-md-6">
                                <label for="listing_date">Listing Date</label>
                                <input type="date" name="listing_date" id="listing_date" required>
                            </div>

                            <div class="col-md-6">
                                <label for="status">Status</label>
                                <input type="text" name="status" id="status" required>
                            </div>

                            <h4>New Listed IPO Details</h4>

                            <div class="form-row">
                                <div class="col-md-6">
                                    <label for="ipo_price">IPO Price</label>
                                    <input type="text" name="ipo_price" id="ipo_price" required>
                                </div>
                                <div class="col-md-6">
                                    <label for="listing_price">Listing Price</label>
                                    <input type="text" name="listing_price" id="listing_price" required>
                                </div>
                                <div class="col-md-6">
                                    <label for="listing_gain">Listing Gain</label>
                                    <input type="text" name="listing_gain" id="listing_gain" required>
                                </div>
                                <div class="col-md-6">
                                    <label for="cmp">CMP</label>
                                    <input type="text" name="cmp" id="cmp" required>
                                </div>
                                <div class="col-md-6">
                                    <label for="current_return">Current Return</label>
                                    <input type="text" name="current_return" id="current_return" required>
                                </div>
                                <div class="col-md-6">
                                    <label for="rhp">RHP</label>
                                    <input type="text" name="rhp" id="rhp" required>
                                </div>
                                <div class="col-md-6">
                                    <label for="drhp">DRHP</label>
                                    <input type="text" name="drhp" id="drhp" required>
                                </div>
                            </div>
                        </div>
                </div>
                </form>
            </div> -->


            <div class="col-md-10 ">
                <div class="justify-content-between">
                    <h3>Upcoming IPO Information</h3>
                    <p>Manage your IPO Details</p>
                </div>
                <div class="d-flex">
                    <div>
                        <div class="d-flex align-items-center">
                            <i class="fas fa-info-circle me-2"></i>
                            <h5>IPO Information</h5>
                        </div>
                        <div class="d-flex align-items-center">
                            <i class="fas fa-file-alt me-2"></i>
                            <h5>IPO Info</h5>
                        </div>
                    </div>

                    {% if form.errors %}
                    <div class="alert alert-danger">
                        {{ form.errors }}
                    </div>
                    {% endif %}
                    
                    <form method="POST" action="{% url 'register_ipo' %}" enctype="multipart/form-data" class="form-layout">
                        {% csrf_token %}
                        <div class="text-right mb-3">
                            <button type="submit" class="btn btn-primary">Register</button>
                            <a href="{% url 'manageipo' %}" class="btn btn-secondary">Cancel</a>
                        </div>

                        <div class="form-row mb-4">
                            <div class="col-md-12 text-center">
                                <label for="company_logo_path">Company Logo</label> <br>
                                <input type="file" name="company_logo_path" id="company_logo_path" class="mb-2" required>
                                <button class="btn btn-outline-primary">Upload Logo</button>
                                <button class="btn btn-outline-danger">Delete</button>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="col-md-6">
                                <label for="company_name">Company Name</label>
                                <input type="text" name="company_name" id="company_name" class="form-control" required>
                            </div>

                            <div class="col-md-6">
                                <label for="price_band">Price Band</label>
                                <input type="text" name="price_band" id="price_band" class="form-control" required>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="col-md-6">
                                <label for="open">Open</label>
                                <input type="text" name="open" id="open" class="form-control" required>
                            </div>

                            <div class="col-md-6">
                                <label for="close">Close</label>
                                <input type="text" name="close" id="close" class="form-control" required>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="col-md-6">
                                <label for="issue_size">Issue Size</label>
                                <input type="text" name="issue_size" id="issue_size" class="form-control" required>
                            </div>

                            <div class="col-md-6">
                                <label for="issue_type">Issue Type</label>
                                <select name="issue_type" id="issue_type" class="form-control" required>
                                    <option value="">Select</option>
                                    <option value="Book Built">Book Built</option>
                                    <option value="Fixed Price">Fixed Price</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="col-md-6">
                                <label for="listing_date">Listing Date</label>
                                <input type="date" name="listing_date" id="listing_date" class="form-control" required>
                            </div>

                            <div class="col-md-6">
                                <label for="status">Status</label>
                                <select name="status" id="status" class="form-control" required>
                                    <option value="">Select</option>
                                    <option value="1">Ongoing</option>
                                    <option value="2">New Listed</option>
                                    <option value="3">Upcoming</option>
                                </select>
                            </div>
                        </div>

                        <h4 class="mt-4">New Listed IPO Details</h4>

                        <div class="form-row">
                            <div class="col-md-6">
                                <label for="ipo_price">IPO Price</label>
                                <input type="text" name="ipo_price" id="ipo_price" class="form-control" required>
                            </div>
                            <div class="col-md-6">
                                <label for="listing_price">Listing Price</label>
                                <input type="text" name="listing_price" id="listing_price" class="form-control" required>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="col-md-6">
                                <label for="listing_gain">Listing Gain</label>
                                <input type="text" name="listing_gain" id="listing_gain" class="form-control" required>
                            </div>

                            <div class="col-md-6">
                                <label for="cmp">CMP</label>
                                <input type="text" name="cmp" id="cmp" class="form-control" required>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="col-md-6">
                                <label for="current_return">Current Return</label>
                                <input type="text" name="current_return" id="current_return" class="form-control" required>
                            </div>

                            <div class="col-md-6">
                                <label for="rhp">RHP</label>
                                <input type="text" name="rhp" id="rhp" class="form-control" required>
                            </div>

                            <div class="col-md-6">
                                <label for="drhp">DRHP</label>
                                <input type="text" name="drhp" id="drhp" class="form-control" required>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    </div>

    <!-- Bootstrap JS and FontAwesome -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
</body>

</html>